# Anexo: 21 Archivo nrpe.cfg para configuración de NRPE en Nagios
###############################################################################
# NRPE.CFG - CONFIGURACION DEL DAEMON NRPE PARA NAGIOS
#
# NOTAS: Este archivo de configuracion proporciona opciones para personalizar
#        el comportamiento del daemon NRPE. Incluye configuraciones como el 
#        puerto de escucha, las direcciones IP permitidas y los comandos NRPE.
#
###############################################################################

# ARCHIVO PID
# El nombre del archivo en el que el daemon NRPE debe escribir su ID de proceso
pid_file=/usr/local/nagios/var/nrpe.pid

# NUMERO DE PUERTO
# El numero de puerto en el que el daemon NRPE escuchara las conexiones.
server_port=5666

# DIRECCIONES IP PERMITIDAS
# Lista separada por comas de direcciones IP que tienen permiso para comunicarse.
allowed_hosts=127.0.0.1,192.168.1.120

# TIEMPO DE EJECUCION DEL COMANDO
# Segundos que el daemon permitira que los plugins se ejecuten antes de matarlos.
command_timeout=60

# TIEMPO DE CONEXION
# Segundos que el daemon esperara para establecer una conexion.
connection_timeout=300

# COMANDOS DEFINIDOS PARA NRPE (ESTANDAR)
command[check_users]=/usr/local/nagios/libexec/check_users -w 5 -c 10
command[check_load]=/usr/local/nagios/libexec/check_load -r -w .15,.10,.05 -c .30,.25,.20
command[check_hda1]=/usr/local/nagios/libexec/check_disk -w 20% -c 10% -p /dev/hda1
command[check_zombie_procs]=/usr/local/nagios/libexec/check_procs -w 5 -c 10 -s Z
command[check_total_procs]=/usr/local/nagios/libexec/check_procs -w 150 -c 200

# Comandos de Iluminacion
command[check_ilum]=/usr/local/nagios/libexec/check_iluminacion

# Comandos de Temperatura (Sensor 1 a Sensor 16)
command[check_tem_S1]=/usr/local/nagios/libexec/check_temperatura 1
command[check_tem_S2]=/usr/local/nagios/libexec/check_temperatura 2
command[check_tem_S3]=/usr/local/nagios/libexec/check_temperatura 3
command[check_tem_S4]=/usr/local/nagios/libexec/check_temperatura 4
command[check_tem_S5]=/usr/local/nagios/libexec/check_temperatura 5
command[check_tem_S6]=/usr/local/nagios/libexec/check_temperatura 6
command[check_tem_S7]=/usr/local/nagios/libexec/check_temperatura 7
command[check_tem_S8]=/usr/local/nagios/libexec/check_temperatura 8
command[check_tem_S9]=/usr/local/nagios/libexec/check_temperatura 9
command[check_tem_S10]=/usr/local/nagios/libexec/check_temperatura 10
command[check_tem_S11]=/usr/local/nagios/libexec/check_temperatura 11
command[check_tem_S12]=/usr/local/nagios/libexec/check_temperatura 12
command[check_tem_S13]=/usr/local/nagios/libexec/check_temperatura 13
command[check_tem_S14]=/usr/local/nagios/libexec/check_temperatura 14
command[check_tem_S15]=/usr/local/nagios/libexec/check_temperatura 15
command[check_tem_S16]=/usr/local/nagios/libexec/check_temperatura 16

# Comandos de Humedad (Sensor 1 a Sensor 16)
command[check_hum_S1]=/usr/local/nagios/libexec/check_humedad 1
command[check_hum_S2]=/usr/local/nagios/libexec/check_humedad 2
command[check_hum_S3]=/usr/local/nagios/libexec/check_humedad 3
command[check_hum_S4]=/usr/local/nagios/libexec/check_humedad 4
command[check_hum_S5]=/usr/local/nagios/libexec/check_humedad 5
command[check_hum_S6]=/usr/local/nagios/libexec/check_humedad 6
command[check_hum_S7]=/usr/local/nagios/libexec/check_humedad 7
command[check_hum_S8]=/usr/local/nagios/libexec/check_humedad 8
command[check_hum_S9]=/usr/local/nagios/libexec/check_humedad 9
command[check_hum_S10]=/usr/local/nagios/libexec/check_humedad 10
command[check_hum_S11]=/usr/local/nagios/libexec/check_humedad 11
command[check_hum_S12]=/usr/local/nagios/libexec/check_humedad 12
command[check_hum_S13]=/usr/local/nagios/libexec/check_humedad 13
command[check_hum_S14]=/usr/local/nagios/libexec/check_humedad 14
command[check_hum_S15]=/usr/local/nagios/libexec/check_humedad 15
command[check_hum_S16]=/usr/local/nagios/libexec/check_humedad 16
