# Anexo 20: Archivo commands.cfg para definiciones de comandos en Nagios
###############################################################################
# COMMANDS.CFG - SAMPLE COMMAND DEFINITIONS FOR NAGIOS 4.4.14
###############################################################################

define command {
    command_name    check_nrpe_1arg
    command_line    /usr/local/nagios/libexec/check_nrpe -H $HOSTADDRESS$ -c $ARG1$
}

define command {
    command_name    check_nrpe
    command_line    /usr/local/nagios/libexec/check_nrpe -H $HOSTADDRESS$ -c $ARG1$
}

define command {
    command_name    notify-host-by-email
    command_line    /usr/bin/printf "%b" "***** Nagios *****\n\nNotification Type: $NOTIFICATIONTYPE$\n\nHost: $HOSTNAME$\nState: $HOSTSTATE$\nAddress: $HOSTADDRESS$\n\n$HOSTOUTPUT$\n" | /usr/bin/mail -s "$NOTIFICATIONTYPE$ Host $HOSTNAME$ is $HOSTSTATE$" $CONTACTEMAIL$
}

define command {
    command_name    notify-service-by-email
    command_line    /usr/bin/printf "%b" "***** Nagios *****\n\nNotification Type: $NOTIFICATIONTYPE$\n\nService: $SERVICEDESC$\nHost: $HOSTNAME$\nState: $SERVICESTATE$\nAddress: $HOSTADDRESS$\n\n$SERVICEOUTPUT$\n" | /usr/bin/mail -s "$NOTIFICATIONTYPE$ Service $SERVICEDESC$ on host $HOSTNAME$ is $SERVICESTATE$" $CONTACTEMAIL$
}
