# Anexo 19: Archivo php.cfg para configuración de servicios en Nagios
Definicion del host BD
define host {
use                     linux-server  ; Nombre de la plantilla de host a utilizar
host_name               BD
alias                   BD
address                 192.168.1.114
contact_groups          admins
}
Servicio de PING
define service {
use                     generic-service            ; Plantilla de servicio
host_name               BD
service_description     PING
check_command           check_ping!100.0,20%!500.0,60%
}
 Servicio de Iluminacion
define service {
use                     generic-service            ; Plantilla de servicio
host_name               BD
service_description     Iluminacion
check_command           check_nrpe_1arg!check_ilum
}
Servicios de Temperatura (Sensor 1 - Sensor 16)
define service {
use                     generic-service
host_name               BD
service_description     Temperatura Sensor 1
check_command           check_nrpe!check_tem_S1
contact_groups          admins
notifications_enabled   1
max_check_attempts      1            ; Envia notificacion inmediatamente tras fallo
notification_options    w,u,c,r      ; Notifica para advertencia
}
define service {
use                     generic-service
host_name               BD
service_description     Temperatura Sensor 16
check_command           check_nrpe!check_tem_S16
contact_groups          admins
notifications_enabled   1
max_check_attempts      1            ; Envia notificacion inmediatamente tras fallo
notification_options    w,u,c,r      ; Notifica para advertencia
}
Servicios de Humedad (Sensor 1 - Sensor 16)
define service {
use                     generic-service
host_name               BD
service_description     Humedad Sensor 1
check_command           check_nrpe!check_hum_S1
contact_groups          admins
notifications_enabled   1
max_check_attempts      2            ; Envia notificacion inmediatamente tras fallo
notification_options    w,u,c,r      ; Notifica para advertencia
}
define service {
use                     generic-service
host_name               BD
service_description     Humedad Sensor 16
check_command           check_nrpe!check_hum_S16
contact_groups          admins
notifications_enabled   1
max_check_attempts      2            ; Envia notificacion inmediatamente tras fallo
notification_options    w,u,c,r      ; Notifica para advertencia
}
